<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/main.css" />
  </head>
  <body>
    <h1>Película</h1>
    <article class="movie">
      <img src="<%= movie.image%>" alt="" />
      <h3>Título: <%= movie.title %></h3>
      <p>Género: <%= movie.genre %></p>
      <p>Año: <%= movie.yearMovie %></p>
      <p>Categoría: <%= movie.category %></p>
    </article>
  </body>
</html>
